body {
    font-family: "Poppins", sans-serif;
    margin: 50px;
    background-color: #ebeef3;
    animation: fadeIn 1.5s;
  }
  
  h1 {
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
  }

  h2 {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 20px;
  }

  .name{
    float: right;
    background-color: rgb(205, 230, 240);
    color: #004f84;
    border-radius: 0.2cap;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6rem;
    
  }

  p {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    max-width: 800px;
    line-height: 1.6;
    margin-left: 20px;
  }
  
  .projects-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    justify-content: space-between;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

  
  .card {
    display: flex; 
    flex-direction: row; 
    align-items: center;
    width: 44%; 
    background-color: #fff;
    border: 1px solid lightblue;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0; 
    animation: fadeIn 1s ease-in forwards;
   
  }

  .profilecard {
    width: 40%; 
    background-color: #fff;
    border: 1px solid lightblue;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  
  }
  
  .card img {
    width: 20%; 
    height: auto; 
    margin-right: 15px; 
    border-radius: 10px;
  }
  
  .card-content {
    flex: 1; 
  }
  
  footer {
    text-align: right;
    color: midnightblue;
    margin-top: 30px;
   
  }

  footer span {
    color: #777;
    display: block;
  }
  
  .logo {
    width: 75px;
    border-radius: 20px;
    border: 2px solid lightblue;
    margin-left: 10px;
  }

  
  @media (max-width: 680px) {
    h1 {
      font-size: 3.5rem;
    }
  
    .projects-container {
      flex-direction: column; 
    }
  
    .card {
      width: 100%; 
      flex-direction: column; 
      text-align: center;
    }
  
    .card img {
      width: 100%; 
      margin-bottom: 15px;
    }
  }

  
nav {
  border-color: #f0420d;
  border-radius: 2cap;
  padding: 10px 20px;
  margin-top: 20px    
}


nav a {
  text-decoration: underline;
  margin-right: 10px; 
  font-size: 30px;
  color: #004f84;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
}

nav a:hover {
  color: rgb(82, 177, 233); 
}

nav a:active {
  color: #f0420da6;
}

li {
  margin-top: 15px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.cv-download {
  color: #004f84;
  text-align: center;
  background-color: #d5edf096;

}

.cv-download a {
  text-align: center;
  text-decoration: underline;
}

.cv-download a:hover {
  color:rgb(171, 217, 244);

}

.cv-download a:active {
  color: #f0420da9;
}

.github-link{
  display: inline-flex;
  align-items: center;
}

.github-logo {
  width: 40px;
  border-radius: 20px;
  border: 2px solid rgb(173, 216, 230);
  margin-right: 10px;
  
}

.bg-image {
  background-image: url(./assets/images/imagebg.webp);
  border-radius: 10px;
}

.bg-image-text {
  background-image: url(./assets/images/textbg.jpg);
  border-radius: 10px;
}

  
  